<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes APP 2.0 - Karan Yadav®️</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <header class="header">
      <nav class="nav">
        <h1 class="logo">
          Notes App 2.0<sub class="author">By Karan Yadav</sub>
        </h1>
      </nav>
    </header>

    <main class="main">
      <div class="preview-section">
        <h1 class="preview-title">Preview of Notes App</h1>
        <div class="preview-images">
          <div class="preview-item">
            <h3 class="preview-subtitle">Notes Page</h3>
            <img src="/assets/img/appView1.png" alt="" class="preview-image" />
          </div>
          <div class="preview-item">
            <h3 class="preview-subtitle">Add notes page</h3>
            <img src="/assets/img/appView2.png" alt="" class="preview-image" />
          </div>
          <div class="preview-item">
            <h3 class="preview-subtitle">In App Notification</h3>
            <img src="/assets/img/appView3.png" alt="" class="preview-image" />
          </div>
          <div class="preview-item">
            <h3 class="preview-subtitle">Edit or Delete</h3>
            <img src="/assets/img/appView4.png" alt="" class="preview-image" />
          </div>
          <div class="preview-item">
            <h3 class="preview-subtitle">Modify notes Page</h3>
            <img src="/assets/img/appView5.png" alt="" class="preview-image" />
          </div>
        </div>
      </div>

      <hr class="separator" />

      <div class="actions">
        <div class="action-section">
          <a href="/notesapp2_0/signup"
            ><img src="/assets/img/signupPage.png" alt="" class="action-image"
          /></a>
        </div>
        <div class="action-section">
          <a href="/notesapp2_0/login"
            ><img src="/assets/img/loginPage.png" alt="" class="action-image"
          /></a>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer-section">
        <p class="footer-text">Go to the notes app page to view your notes</p>
        <a href="/notesapp2_0/notes"
          ><button type="button" class="footer-button">View Notes</button></a
        >
      </div>
      <div class="footer-section">
        Developers Links
        <ul class="developer-links">
          <li class="developer-link">
            <a href="https://github.com/karanBRAVO">
              <img src="/assets/img/github.svg" alt="" class="link-icon" />
            </a>
          </li>
          <li class="developer-link">
            <a href="https://www.youtube.com/channel/UC3c471ecB2uo6pJUfmPt_Ow">
              <img src="/assets/img/youtube.svg" alt="" class="link-icon" />
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
