<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Notes APP 2.0 - User</title>
  </head>
  <body>
    {{! profile }}
    <div class="showprofileBtnCont">
      <button type="button" id="showProfileBtn">
        <img src="../assets/img/profile.png" class="profileImage" alt="img" />
      </button>
    </div>
    <div class="fixedCont" id="showProfileDiv">
      <div class="profileContainer">
        <span class="profile-close-icon" id="closeProfile">&times;</span>
        <h1 style="padding: 1px; margin: 2px;">Hello User</h1>
        <button type="button" class="profile_btn" id="logoutBtn">Logout</button>
        <button
          type="button"
          class="profile_btn delAcc-btn"
          id="deleteAccountBtn"
        >Delete Account</button>
      </div>
    </div>

    {{! notifications }}
    <div class="notifierContainer" id="notifier"></div>

    {{! hidden layer }}
    <div id="hiddenLayer"></div>

    {{! modify note }}
    <div class="fixedCont" id="modifyNoteDiv">
      <form
        class="fixedInnerCont"
        id="modifyNote_form"
        style="background-color: #f94a29; border-color: #f94a29"
      >
        <div class="crossCont" style="background-color: #f94a29">
          <div class="crossSign" id="modify_crossSign">
            <span class="userSelectNone" style="color: #f94a29">x</span>
          </div>
        </div>
        <div class="addNoteCont">
          <div class="headingCont" style="background-color: #f94a29">
            <div class="heading" style="background-color: #f94a29">
              <h3 class="userSelectNone">Modify title</h3>
            </div>
          </div>
          <div class="inputCont">
            <input
              type="text"
              name="modify_userTitle"
              class="userSelectNone"
              id="modify_note_title"
              placeholder="add new note title"
              autocomplete="off"
              style="background-color: #f94a29"
            />
          </div>
          <div class="headingCont" style="background-color: #f94a29">
            <div class="heading" style="background-color: #f94a29">
              <h3 class="userSelectNone">Modify Note Description</h3>
            </div>
          </div>
          <div class="msgCont">
            <textarea
              name="modify_userNote"
              class="userSelectNone"
              id="modify_userNote"
              cols="30"
              rows="10"
              placeholder="enter your note Description"
              style="background-color: #f94a29"
            ></textarea>
          </div>
          <div class="buttonCont" style="background-color: #f94a29">
            <button
              class="userSelectNone"
              id="modifyNoteBtn"
              type="button"
              style="color: #f94a29"
            >
              Modify Note
            </button>
          </div>
        </div>
      </form>
    </div>

    {{! add new note }}
    <div class="fixedCont" id="addNoteDiv">
      <form class="fixedInnerCont">
        <div class="crossCont">
          <div class="crossSign" id="crossSign">
            <span class="userSelectNone">x</span>
          </div>
        </div>
        <div class="addNoteCont">
          <div class="headingCont">
            <div class="heading">
              <h3 class="userSelectNone">Add Title</h3>
            </div>
          </div>
          <div class="inputCont">
            <input
              type="text"
              name="userNote_title"
              class="userSelectNone"
              id="note_title"
              placeholder="add note title"
              autocomplete="off"
            />
          </div>
          <div class="headingCont">
            <div class="heading">
              <h3 class="userSelectNone">Add Note Description</h3>
            </div>
          </div>
          <div class="msgCont">
            <textarea
              name="userNote_desc"
              class="userSelectNone"
              id="userNote"
              cols="30"
              rows="10"
              placeholder="enter your note Description"
            ></textarea>
          </div>
          <div class="dateCont">
            <input type="hidden" name="userNote_date" id="userNote_date" />
          </div>
          <div class="buttonCont">
            <button class="userSelectNone" id="addNoteBtn" type="button">Add
              Note</button>
          </div>
        </div>
      </form>
    </div>

    {{! Add new note button }}
    <div class="signCont" id="addNewNoteContainerShowBtn">
      <div class="sign" id="addIconCont">
        <span id="addIcon">+</span>
      </div>
      <div class="toolTipCont">
        <span class="toolTip">Add note</span>
      </div>
    </div>

    {{! main container }}
    <div class="container" id="mainCont">
      <div class="innerContainer" id="mainInnerCont">

        <!-- Show Notes -->

      </div>
    </div>

    <script src="../js/userNotes.index.js"></script>
  </body>
</html>