body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.notifierContainer {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
}

.notifierContainer .notification {
    color: white;
    font-weight: 500;
    font-size: 1em;
    text-transform: capitalize;
    width: fit-content;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.login-form,
.signup-form {
    max-width: 300px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #666;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .login-form,
    .signup-form {
        max-width: none;
    }
}